{{ define "Update" }}
<br>
    {{ template "Menu" }}
        <br>
        <h1>Update Customer</h1>
        <br>
        <br>
        <form method="POST" action="/alter">
            <input type="hidden" name="customerid" value="{{ .CustomerID }}">
            CustomerName: <input type="text" value="{{ .CustomerName }}" name="customername" placeholder="New Name" autofocus>
            <br>
            <br>
            SSN: <input type="text" value="{{ .CustomerSSN }}" name="customerssn" placeholder="New SSN" autofocus>
            <br>
            <br>
            <input type="submit" value="Update Customer"/>        
        </form>
{{ end }}